:root {
    --text-color: #434455;
    --title-color: #2E2F42;
    --accent-color: #4D5AE5;
    --btn-color: #E7E9FC;
    --bac-secondary-color: #F4F4FD;
}

a {font-style: normal;
    text-decoration: none;
    color: currentColor;
}

body {
    background-color: #ffffff;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* logo webstudio */
.logo {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo:hover {
    color: var(--accent-color);
}

.logo-web {
    color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
    .nav {
    display: none;
}

.address-item {
    display: none;
}
 .container {
     width: 428px;
     margin: auto;
 }
 .menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 40px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    
 }
 
 .menu-container.is-open {
    transform: translateX(0);
}
}

@media screen and (min-width: 768px) {
.menu-container {
    display: none;
}
.mobile-burger {
    display: none;
}
.curent::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    left: 0px;
    top: 68px;
    background: #404BBF;
    border-radius: 2px;
}

}


.container.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px 16px;
    margin: 0;
    
}

header {
    border-bottom: 1px solid #E7E9FC;
}

.mobile-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
        height: 24px;
        background: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        align-items: center;
        padding: auto;
 }

.mobile-burger {
    background-color: transparent;
    border: none;
}



.icon-menu-mobile {
    fill: #2E2F42;
}

.link-mobile-menu {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-top: 40px;
margin-bottom: 284px;
}

.curent {
    color: var(--accent-color);
}

.link-mobile-menu .item {
    margin-bottom: 40px;
}

.address-mobile {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;

}
.address-mobile .item {
    margin-bottom: 48px;
}

.address-mobile .item:hover {
    font-weight: 600;
        font-size: 36px;
        line-height: 40px;
    text-transform: capitalize;
    color: #4D5AE5;
}


/* nav */
 .nav-pages {
    position: relative;
    display: block;
        padding-top: 24px;
        padding-bottom: 24px;

    color: var(--title-color);

    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.nav-pages:hover,
.nav-pages:focus {
    color: var(--accent-color);
}

.nav-pages.curent {
    color: var(--accent-color);
}



/* address */

 .link {
    color: var(--text-color);
    font-style: normal;
    text-decoration: none;
    padding-top: 24px;
        padding-bottom: 24px;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
} 


/* hero */


.hero {
    background-color: var(--title-color);
    text-align: center;
    height: 432px;
   background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-mobile.jpg); 
   margin-left: auto;
   margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-mobile@2x.jpg);
    }
}

.hero-title {
    width: 350px;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: auto;
   padding-top: 112px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
} 

/* buttons */
.btn {
    background-color: var(--accent-color);
    color: #ffffff;
    cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
         border-radius: 4px;
         border: 1px solid transparent;
}

.btn-hero {
    padding: 16px 32px;
    min-width: 169px;
    text-align: center;
    margin-top: 72px;
    
}
    
.btn-portfolio {
    background-color: #F4F4FD;;
    color: var(--accent-color);
    padding: 12px 24px;
    min-width: 78px;
    text-align: center;
    border-color: var(--btn-color);
    border: 1px solid #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.btn-portfolio:hover,
.btn.btn-portfolio:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: #ffffff;
}

/* section */

.portfolio-link {
    font-style: normal;
    text-decoration: none;
}

.section {
    color: var(--text-color);
    padding-bottom: 120px;
    padding-top: 120px;

}
.section.what-doing {
    padding-top: 0;
}

.section.team {
    background-color: var(--bac-secondary-color);
    padding-top: 120px;
}

.our-team .item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.section-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
       
}

.section-customers {
    padding-top: 130px;
    padding-bottom: 120px;
}


.title-small {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8px;
}
.title-small.specifics {
    padding-top: 0;
    margin-top: 8px;
}
.text {
    margin: 0;
    letter-spacing: 0.02em;
    line-height: 24px;
    
}
.our-team-text {
padding-top: 32px;
padding-bottom: 32px;

}
.portfolio-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.portfolio-products {
    position: relative;
overflow: hidden;
   
}

.portfolio-products::before {
position: absolute;  
display: inline-block;
content: "";
width: 360px;
height: 300px;
background-color: #4D5AE5;
opacity: 0;
transform: translateY(300px);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-products:hover .products-cards,
.link-products:focus .products-cards,
.link-products:hover .portfolio-products::before,
.link-products:focus .portfolio-products::before
 {
    opacity: 1;
    transform: translateY(0);
}

.products-cards {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 0;
    opacity: 0; 
    transform: translateY(300px);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}


/* title invisible */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* footer */
.footer {
    background-color: var(--title-color);
    color: #ffffff;
    padding: 100px 0;
}

.footer .container {
display: flex;
}
.footer .logo {
    color: #ffffff;
}
.footer .text {
    color: var(--btn-color);
    margin-top: 16px;
}

.logo-footer {
    width: 264px;
    margin-right: 120px;
}
.social-footer p {
  margin-top: 0;
}
.elements-ft {
display: flex;
}

.soc-net.ft-net {
width: 208px;
}
  
.social-footer {
display: block;
margin-right: 80px;

}
.form-ft {
    display: flex;
    margin-left: 0;
}

.form-ft-mail {
    display: flex;
    display: block;
}
.form-ft input {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 10px;
    color: #E7E9FC;
display: flex;
}

.form-ft p {
margin-top: 0;
}

.form-ft input::placeholder {
    
    padding-left: 16px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        align-items: center;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
}

.icon-send {
    
    fill: white;
    width: 24px;
    height: 24px;
}
.form-ft-btn {
    
    width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: #4D5AE5;
    border-radius: 4px;
    border: #4D5AE5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    margin-top: 32px;
    margin-left: 24px;
}
/* blok */


.btn-list {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}
.btn-list .item+.item {
    margin-left: 24px;
}
/* flex */


.site-nav {
    display: flex;
    margin-left: 76px;
}
.site-nav .item {
    display: block;
   
}
.site-nav .item:not(:last-child) {
margin-right: 40px;
}

.address {
    display: flex;
    
}
.address .item + .item {
    margin-left: 40px;
}
.address-item {
    margin-left: auto;
}
.specifics-list {
    display: flex;

}

.specifics-list .item +.item {
    margin-left: 24px;
}

.we-doing {
    display: flex;
}
.we-doing .item +.item {
    margin-left: 24px;
}
.our-team {
    display: flex;
    }

.our-team .item {
    width: 264px;
    height: 428px;
    background-color: #ffffff;
   text-align: center; 

}

.our-team .item +.item {
    margin-left: 24px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    
}

.portfolio .item {
    width: 362px;
    margin-right: 24px;
    margin-bottom: 48px;
    border: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio .item.flex:nth-child(3n) {
    margin-right: 0;
}
.portfolio .item.flex:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.item.flex:hover,
.item.flex:focus
 {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}



/* псевдоелементи */

.specifics-list .item::before {
display: block;
    content: '';
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: #F4F4FD;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 64px;
}

.strategy::before {
   background-image: url(../images/antenna1.svg);
}

.punctuality::before {
    background-image: url(../images/clock.svg);   
}

.diligence::before {
        background-image: url(../images/diagram.svg);
}

.technologies::before {
        background-image: url(../images/astronaut.svg);
        
}
/* sprite svg */
.soc-net {
    display: flex; 
        content: '';
        gap: 24px;
        margin: 8px auto 0 auto;
        width: 232px;
}
.social-link {
    display: block;
    width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.soc-net-mobile {
    display: flex;
        content: '';
        gap: 56px;
        margin: 0;
        width: 328px;
}

.mobile-soc .icon {
    width: 24px;
    height: 24px;
}

.social-link:hover
{
    background-color: #404BBF;
    border-radius: 50%;
}

.ft-net {
    gap: 16px;
}

.ft {
    background-color: #434455;

}

.social-link.ft:hover,
.social-link.ft .social:focus {
    background-color: #31D0AA;
    border-radius: 50%;
    fill: #31D0AA;

}


.social {
    display: flex;
        content: '';
        width: 100%;
        height: 100%;
    justify-content: center;
    align-items: center;

}

.social:focus {
    background-color: #404BBF;
    border-radius: 50%;
}
.icon {
    display: block;
            width: 16px;
            height: 16px;
            stroke-width: 1px;
            stroke: #4D5AE5;
            fill: white;

}


.icon-ft {
    width: 24px;
        height: 24px;
        stroke-width: 1px;
        stroke: white;
        fill: white;
}


.customers {
    display: flex;
        content: '';
        gap: 24px;
        margin: 0 auto;
        width: 1128px;
}

.customers-link {
    display: block;
        width: 168px;
        height: 88px;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.customers-link:hover {
    border: 1px solid var(--accent-color);
}
 
.customers-link:focus {
    outline: transparent;
    border: 1px solid var(--accent-color);
}
.company {
    display: flex;
        content: '';
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
}


.icon-company {
    display: block;
        width: 104px;
        height: 56px;
        fill: #8E8F99;
    
}
.company:focus {
    outline: transparent;
    border: 1px solid var(--accent-color);
}

.company:focus .icon-company,
.company:hover .icon-company {
    fill: var(--accent-color);
    
}

/* ------media-------- */



@media screen and (min-width: 768px) {
    .container {
            width: 768px;
    }
    .hero {
        height: 436px;
        min-width: 768px;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-tablet.jpg);
    }
    .btn-hero {
            margin-top: 40px;
    }

    

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), 
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
   .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-tablet@2x.jpg);
   }
}

@media screen and (min-width: 1200px) {
    
    .container {
            width: 1158px;
        }
    .hero {
        height: 600px;
        max-width: 1600px;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-images.jpg);
    }

    .hero-title {
        padding-top: 188px;
    }

    .btn-hero {
            margin-top: 48px;
    }

        

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-images@2x.jpg);
    }
}
